body,
html {
    height: 100%;
}

.login-page-area {
    background-image: url('../images/bg/bg\ \(3\).jpg');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-column {
    background-color: #00ab9f;
    text-align: center;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}

.f-item {
    margin: 20px;
    color: white;
}

input,
button {
    outline: none;
    border-style: none;
}